
#nav a::selection {
    color: rgb(23, 228, 40);
    background: transparent;
}
#background {
    background-image: url(https://edu.itcenter.uz/img/back1.jpg);
    background-repeat: no-repeat;
    height: 948px;
    background-size: cover;
    background-position: top center;
}



:root {
    --pink: #ff4081;
  }
  
  body {
    font-family: Lato, sans-serif;
    margin: 0;
    background-color: #232e33;
  }
  
  #nav {
    width: 100vw;
    background-color: #19202496;
    font-weight: bold;
  }
    nav ul{
      list-style: none;
      margin: 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 1em 0;
      margin-left: 20px;
      font-size: 20px;
    }
  
    nav li a {
      text-decoration: none;
      color: white;
      padding-right: 3em;
      position: relative;
      transition: all ease-in-out 250ms;
    }
  
    nav li a::after {
      content: "";
      position: absolute;
      display: block;
      height: 0.4em;
      width: 0%;
      background-color: var(--pink);
      bottom: -1em;
      transition: all ease-in-out 250ms;
    }
  
    nav li a:hover::after {
      width: 60%;
    }
  
    nav li a:hover {
      color: var(--pink);
    }
  
    /* nav li:first-child {
      margin-right: auto;
      margin-left: 3em;
    } */
    #background img {
        margin-left: 40%;
}
  