/* 
a::selection {
    color: #8fd32f;;
    background: transparent;
} */
::selection {
  color: #8fd32f;
  background: transparent;
}

#background {
    background-image: url(https://edu.itcenter.uz/img/back1.jpg);
    background-repeat: no-repeat;
    height: 948px;
    background-size: cover;
    background-position: top center;
    cursor:url('./img/cursor1.png'),pointer;
}



:root {
    --pink: #94db31;
  }
  
  body {
    font-family: Lato, sans-serif;
    margin: 0;
    background-color: #00ffff;
    
  }
  #nav {
    width: 100vw;
    background-color: #19202496;
    font-weight: bold;
  }
    nav ul{
      list-style: none;
      margin: 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 1em 0;
      margin-left: 5%;
      font-size: 30px;
    }
  
    nav li a {
      text-decoration: none;
      color: white;
      padding-right: 2em;
      position: relative;
      transition: all ease-in-out 250ms;
    }
  
    nav li a::after {
      content: "";
      position: absolute;
      display: block;
      height: 0.4em;
      width: 0%;
      background-color: var(--pink);
      bottom: -1em;
      transition: all ease-in-out 250ms;
    }
  
    nav li a:hover::after {
      width: 60%;
    }
  
    nav li a:hover {
      color: var(--pink);
    }
  
    /* nav li:first-child {
      margin-right: auto;
      margin-left: 3em;
    } */
    #background img {
        margin-left: 15%;
        margin-top: 60px;
   }

   .royxatdan{
     text-decoration: none;
     color: #fff;
     float: right;
     font-size:20px;
     background-color: #7dba28;
     /* padding: 20px;
     border-radius: 30px; */
     padding: 30px 50px;
     border-radius: 60px;

     margin-right: 15%;
     margin-top: 60px;
     margin-left: 20px;
     animation: royxat 3s linear infinite;
     
   }
   @keyframes royxat {
     0% {
       background-color: #94db31;
     }
     50% {
       background-color: rgb(255, 217, 0);
     }
     75% {
       background-color: rgb(229, 255, 0);
     }
     100% {
       background-color: #94db31;
     }
   }
   .hero-text {
    text-align: center;
    padding-top: 200px;
    font-family: inherit;
    margin-bottom: 105px;
    font-size: 30px;
    color: #fff;
    font-weight: 600;
    line-height: .7;
  }

  #icon-fixed{
    position: fixed;
    left: 0;
    top: 50%;
    text-decoration: none;
    list-style: none;
    border-radius: 15px;
    margin-left: 7px;
    border: solid 5px #8fd32f;
    animation: loading1 5s linear infinite;
    z-index: 2;
    }
    #icon-fixed span {
      margin: 5px;
    }
    @keyframes loading1 {
      0% {
        background-color: #94db31;
        border: #94db31;
      }
      50% {
        background-color: rgb(255, 217, 0);
        border: rgb(255, 217, 0);
      }
      75% {
        background-color: rgb(229, 255, 0);
        border: gb(229, 255, 0);
      }
      100% {
        background-color: #94db31;
        border: #94db31;
      }
    }
    #icon-fixed #telegram a {
      color: #0088cc;
    }
    #icon-fixed #github a {
      color: #24292e;
    }
    #icon-fixed #instagram a {
      color: #FD1D1D;
    }
    #icon-fixed #facebook a {
      color: #3b5998;
    }
    #icon-fixed span {
      display: block;
    }
  @media only screen and (max-width: 600px) {
    .hero-text {
      line-height: 1;
      font-size: 20px;
    }
    nav ul{
      font-size: 18px;
    }
    #icon-fixed {
      /* visibility:hidden; */
      top: 60%;
    }
    .royxatdan {
      padding: 35px 50px;
      border-radius: 60px;
      margin-right: 20%;
    }
    /* #telegram-container #channel {
      height: 100px;
      width: 100px;
      margin-right: 0;
    }
    #telegram-container #groups {
      height: 100px;
      width: 100px;
      margin-right: 0;
    } */
    #telegram-container #groups a img, #channel a img {
      height: 200px;
      width: 200px;
    }
  }
  @media only screen and (max-width: 850px) {
    .hero-text p {
      line-height: 1.5;
    }
    .royxatdan {
      padding: 35px 50px;
      border-radius: 60px;
    }
    /* #icon-fixed {
      visibility:hidden;
    } */
  }
  
#telegram-container{
  text-decoration: none;
}
#telegram-container #groups{
  text-align: center;
  margin-right: 10%;
}

#telegram-container #channel {
  text-align: center;
  margin-right: 10% ;
}
