body {
    background-color: #ccc;
    font-family: sans-serif;
}
.container {
    width: 400px;
    margin: auto;
    height: 630px;
    margin-top: 10px;
    background-color: #333;
    box-shadow: 0 0 20px 0 #000;
}
.max-width{
    max-width: 80%;
    margin: auto;
}
#write-icon, #write-r-h1 {
    display: inline-block;
    color: rgba(255, 255, 255, 0.658);
    
}
#write-r-h1 {
    font-weight: 100;
}
.logo {
    margin-left: 100px;
    margin-bottom: -17px;
    padding-top: 35px;
}
#sahifa {
    text-align: center;
    color: rgba(255, 255, 255, 0.658);
    border-top: solid 1px rgba(255, 255, 255, 0.658);
    padding-top: 17px;
    font-size: 13px;
}
ul li {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    margin: 5px 10px;
}
ul {
    margin-left: 25px;
}
ul #twi a{
    color: #00acee;
}
ul #face a {
    color: #3b5896;
}
ul #goog a {
    color: #ff5833f8;
}
#or {
    text-align: center;
    color: rgba(255, 255, 255, 0.658);
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 20px;
}
form #text-input input {
    width: 100%;
    padding: 10px 0px;
    margin: 6px 0;
    background-color: rgba(255, 255, 255, 0.075);
    border: solid 1px rgba(255, 255, 255, 0.080);
    color: #fff;
}
form #text-input input::placeholder {
    padding-left: 6%;
}
#rozilik {
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.658);
}
#sign-up-btn {
    display: block;
    width: 60%;
    margin: auto;
    margin-top: 50px;
    padding: 20px 30px;
    background-color: #00eeba;
    color: #fff;
    border: none;
    border-radius: 7px;
}